asgiref
crispy-bootstrap5
distlib
Django
django-crispy-forms
django-environ
EasyProcess
entrypoint2
filelock
MouseInfo
mss
Pillow
platformdirs
psycopg2
PyAutoGUI
pygame
PyGetWindow
PyMsgBox
pyperclip
PyRect
pyscreenshot
PyScreeze
pytweening
sqlparse
tzdata
virtualenv